@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
/* select:not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1.5rem;
  @apply bg-transparent  bg-none; ;
} */
/* [&:not([size])]:pr-5 */
.link-stand {
  @apply text-base text-blue-500 hover:text-cyan-500 dark:hover:text-cyan-500;
}
.post-editor input[type="file"]::file-selector-button {
  @apply bg-active-bg hover:bg-main-border border-main-border mr-4 cursor-pointer space-x-2 rounded-lg border-2 py-1.5 pl-2 pr-2 text-center 
  text-gray-900 hover:text-white dark:bg-dark-active-bg dark:text-white dark:hover:bg-gray-900;
}

.post-editor input[type="file"] {
  @apply border-main-border dark:bg-dark-additional-bg bg-white py-1 pl-5 pr-1;
}

/* These styles are for the shown content, not that in the editor */
body {
  box-sizing: border-box;
  min-height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p,
.comment-content p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.post-content,
.comment-content {
  text-align: justify;
}

.post-content h1,
.comment-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2,
.comment-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a,
.comment-content a {
  color: #5591f8;
  text-decoration: none;
}
.post-content a:hover,
.comment-content a:hover {
  color: #66dcf3;
  text-decoration: none;
}
/* .post-content a:hover,
.comment-content a:hover {
  text-decoration: underline;
} */

/* .dark .post-content a {
  color: red;
} */

/* .mce-content-body {
  text-align: justify;
}
tox-edit-area__iframe {
  text-align: justify;
}
 */
