@tailwind base;
@tailwind components;
@tailwind utilities;

.link-stand {
  @apply text-blue-500 text-base hover:text-cyan-500 dark:hover:text-cyan-500;
}

/* These styles are for the shown content, not that in the editor */
body {
  box-sizing: border-box;
  min-height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p,
.comment-content p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.post-content,
.comment-content {
  text-align: justify;
}

.post-content h1,
.comment-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2,
.comment-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a,
.comment-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover,
.comment-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

/* .mce-content-body {
  text-align: justify;
}
tox-edit-area__iframe {
  text-align: justify;
}
 */
