@tailwind base;
@tailwind components;
@tailwind utilities;
/* These styles are only for the content in the editor */
body {
  box-sizing: border-box;
  min-height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
  text-align: justify;
}
.comment-content,
.post-content {
  text-align: justify;
  padding: 5px;
}
.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a,
.comment-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.comment-content {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover,
.comment-content a:hover {
  text-decoration: underline;
}
/* 
.dark .post-content a {
  color: red;
}  */

.mce-content-body {
  text-align: justify;
}
tox-edit-area__iframe {
  text-align: justify;
}
.mce-content-body {
  max-width: 46rem;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  min-height: 200px;
}
.tox-edit-area {
  max-width: 44rem;
  min-height: 100px;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}
